body {
    font-family: -apple-system, BlinkMacSystemFont, Avenir, "Helvetica Neue", "Segoe UI", Arial, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.header {
    height: 60px;
    line-height: 61px;
    background-color: black;
    color: white;
    padding: 0 15px;
}

.header .nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-color: white;
    line-height: 57px;
}

.header .nav-item {
    padding: 0 10px;
}

.header .nav-link:hover {
    color: white;
}

.header_title {
    font-size: 28px;
    font-weight: bold;
}

.header_subtitle {
    font-size: 14px;
    color: gray;
    margin-left: 10px;
}

.main {
    padding: 60px 0;
}

.main .content {
    min-height: 500px;
}

.mycarousel {
    padding: 18px 0;
    background-color: silver;
}

.featurette-divider {
    margin: 35px 0;
}

/* index.html */

.top-explain {
    font-size: 1.2rem;
}

/* howto.html */
.howto h4 {
    border-bottom: 1px solid rgb(80, 180, 211);
    padding-left: 25px;
    position: relative;
}

.howto h4::before {
    top: 0px;
    left: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
    border: 4px solid #f59e9e;
    margin: auto;
}

/*
 * Sidebar
 */

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

.footer {
    font-size: 0.8rem;
    height: 40px;
    line-height: 41px;
    padding: 0 15px;
    background-color: black;
    color: white;
}

.footer a {
    color: white;
}